.rulesModal {
    text-transform: uppercase;
    color: hsl(217, 16%, 45%);

    h1 {
        margin-top: 5rem;
        text-align: center;
        font-size: 32px;
    }

    svg {
        margin-top: 5rem;
    }
}