.rules-button {
    background-color: Transparent;
    position: absolute;
    right: 0px;
    width: 8rem;
    border: 3px solid hsl(217, 16%, 45%);
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    margin: -5px 35px;
    cursor: pointer;
  }

  @media(max-width: 375px) {
    .rules-button {
      right: 6rem;
    }
  }
  